# Mục tiêu buổi học:
1. Hiểu được khái niệm Dataframe trong Pandas.
2. Thực hiện được các thao tác cơ bản với Dataframe:
    - Đổi tên cột
    - Đổi kiểu dữ liệu
    - Filter
3. Vẽ được biểu đồ với Python.

# Nội dung thực hành

1. Lấy các bảng dữ liệu theo từng ngày.
2. Kết hợp các bảng dữ liệu thành 1 dataframe duy nhất
3. Đổi tên các cột của dataframe kết quả thành tên sau:

['Currency Name','Currency Code','Cash Rates', 'Transfer Rates', 'Selling Rates','Date']

4. Kiểm tra các kiểu dữ liệu của dataframe
5. Đổi kiểu dữ liệu các cột dạng số về numberic. (Chú ý trường hợp các giá trị bị lỗi)
6. Filter giữ lại trường hợp Currency Code = 'USD'
7. Vẽ biểu đồ thể hiện biến động của USD từ đầu năm đến nay. Tỉ giá tính theo 'Selling Rates'

In [15]:
from urllib import request
import ssl
import pandas as pd
from datetime import date, timedelta

In [16]:
start_date = date(2019,12,1)
working_date = start_date
dfs = []
while working_date < date.today():
    date_text = working_date.strftime('%d/%m/%Y')
    url="https://portal.vietcombank.com.vn/UserControls/TVPortal.TyGia/pListTyGia.aspx?txttungay={}&BacrhID=1&isEn=True".format(date_text)
    context = ssl._create_unverified_context()
    response = request.urlopen(url, context=context)
    html = response.read()
    working_df = pd.read_html(html)[0]
    working_df['date'] = working_date
#     working_df.to_excel(r'{}.xlsx'.format(working_date.strftime('%d_%m_%Y')))
    dfs.append(working_df)
    working_date = working_date + timedelta(days=1)
#     print(working_date)

In [17]:
dfs

[             Currency               Buying Rates           Selling Rates  \
         Currency Name Currency Code         Cash  Transfer Selling Rates
 0         AUST.DOLLAR           AUD     15450.15  15548.56      15838.32
 1     CANADIAN DOLLAR           CAD     17121.41  17282.13      17601.37
 2        SWISS FRANCE           CHF     22841.72  23007.92      23424.53
 3        DANISH KRONE           DKK            -   3364.90       3470.37
 4                EURO           EUR     25286.94  25368.10      26155.60
 5       BRITISH POUND           GBP     29584.00  29797.72      30088.15
 6     HONGKONG DOLLAR           HKD      2915.67   2936.25       2988.27
 7        INDIAN RUPEE           INR            -    322.50        335.15
 8        JAPANESE YEN           JPY       201.65    208.24        214.85
 9    SOUTH KOREAN WON           KRW        17.94     18.90         20.93
 10      KUWAITI DINAR           KWD            -  76081.39      79066.68
 11  MALAYSIAN RINGGIT           MYR            -   5521.76       5593.24
 12   NORWEGIAN KRONER           NOK            -   2489.78       2567.82
 13      RUSSIAN RUBLE           RUB            -    361.02        402.28
 14      SWEDISH KRONA           SEK            -   2396.32       2456.65
 15   SINGAPORE DOLLAR           SGD     16735.57  16858.72      17068.06
 16          THAI BAHT           THB       751.84    751.84        783.20
 17          US DOLLAR           USD     23095.00  23125.00      23245.00

           date

 0   2019-12-01
 1   2019-12-01
 2   2019-12-01
 3   2019-12-01
 4   2019-12-01
 5   2019-12-01
 6   2019-12-01
 7   2019-12-01
 8   2019-12-01
 9   2019-12-01
 10  2019-12-01
 11  2019-12-01
 12  2019-12-01
 13  2019-12-01
 14  2019-12-01
 15  2019-12-01
 16  2019-12-01
 17  2019-12-01  ,
              Currency               Buying Rates           Selling Rates  \
         Currency Name Currency Code         Cash  Transfer Selling Rates
 0         AUST.DOLLAR           AUD     15433.10  15531.41      15820.88
 1     CANADIAN DOLLAR           CAD     17126.75  17287.52      17606.85
 2        SWISS FRANCE           CHF     22784.24  22950.03      23365.66
 3        DANISH KRONE           DKK            -   3366.55       3472.08
 4                EURO           EUR     25297.56  25378.76      26166.59
 5       BRITISH POUND           GBP     29566.14  29779.74      30070.03
 6     HONGKONG DOLLAR           HKD      2915.07   2935.65       2987.67
 7        INDIAN RUPEE           INR            -    322.30        334.95
 8        JAPANESE YEN           JPY       201.27    207.85        214.45
 9    SOUTH KOREAN WON           KRW        17.97     18.93         20.96
 10      KUWAITI DINAR           KWD            -  76090.00      79075.64
 11  MALAYSIAN RINGGIT           MYR            -   5515.28       5586.68
 12   NORWEGIAN KRONER           NOK            -   2478.59       2556.29
 13      RUSSIAN RUBLE           RUB            -    359.71        400.82
 14      SWEDISH KRONA           SEK            -   2391.95       2452.17
 15   SINGAPORE DOLLAR           SGD     16717.25  16840.27      17049.41
 16          THAI BAHT           THB       752.18    752.18        783.55
 17          US DOLLAR           USD     23090.00  23120.00      23240.00

           date

 0   2019-12-02
 1   2019-12-02
 2   2019-12-02
 3   2019-12-02
 4   2019-12-02
 5   2019-12-02
 6   2019-12-02
 7   2019-12-02
 8   2019-12-02
 9   2019-12-02
 10  2019-12-02
 11  2019-12-02
 12  2019-12-02
 13  2019-12-02
 14  2019-12-02
 15  2019-12-02
 16  2019-12-02
 17  2019-12-02  ,
              Currency               Buying Rates           Selling Rates  \
         Currency Name Currency Code         Cash  Transfer Selling Rates
 0         AUST.DOLLAR           AUD     15556.47  15655.52      15947.10
 1     CANADIAN DOLLAR           CAD     17102.24  17262.79      17581.70
 2        SWISS FRANCE           CHF     22991.24  23158.49      23577.67
 3        DANISH KRONE           DKK            -   3383.37       3489.42
 4                EURO           EUR     25421.68  25503.25      26294.82
 5       BRITISH POUND           GBP     29609.68  29823.59      30114.27
 6     HONGKONG DOLLAR           HKD      2914.03   2934.60       2986.60
 7        INDIAN RUPEE           INR            -    322.87        335.54
 8        JAPANESE YEN           JPY       202.35    208.94        215.58
 9    SOUTH KOREAN WON           KRW        17.83     18.78         20.80
 10      KUWAITI DINAR           KWD            -  76090.00      79075.64
 11  MALAYSIAN RINGGIT           MYR            -   5520.57       5592.04
 12   NORWEGIAN KRONER           NOK            -   2488.48       2566.49
 13      RUSSIAN RUBLE           RUB            -    360.44        401.63
 14      SWEDISH KRONA           SEK            -   2398.89       2459.28
 15   SINGAPORE DOLLAR           SGD     16729.49  16852.60      17061.89
 16          THAI BAHT           THB       750.68    750.68        782.00
 17          US DOLLAR           USD     23090.00  23120.00      23240.00

           date

 0   2019-12-03
 1   2019-12-03
 2   2019-12-03
 3   2019-12-03
 4   2019-12-03
 5   2019-12-03
 6   2019-12-03
 7   2019-12-03
 8   2019-12-03
 9   2019-12-03
 10  2019-12-03
 11  2019-12-03
 12  2019-12-03
 13  2019-12-03
 14  2019-12-03
 15  2019-12-03
 16  2019-12-03
 17  2019-12-03  ,
              Currency               Buying Rates           Selling Rates  \
         Currency Name Currency Code         Cash  Transfer Selling Rates
 0         AUST.DOLLAR           AUD     15593.03  15692.30      15984.51
 1     CANADIAN DOLLAR           CAD     17115.13  17275.79      17594.93
 2        SWISS FRANCE           CHF     23110.22  23278.31      23699.52
 3        DANISH KRONE           DKK            -   3385.73       3491.86
 4                EURO           EUR     25442.37  25524.00      26316.19
 5       BRITISH POUND           GBP     29754.06  29968.98      30260.95
 6     HONGKONG DOLLAR           HKD      2914.37   2934.94       2986.94
 7        INDIAN RUPEE           INR            -    322.37        335.02
 8        JAPANESE YEN           JPY       203.43    210.04        216.71
 9    SOUTH KOREAN WON           KRW        17.76     18.71         20.73
 10      KUWAITI DINAR           KWD            -  76090.00      79075.64
 11  MALAYSIAN RINGGIT           MYR            -   5513.96       5585.34
 12   NORWEGIAN KRONER           NOK            -   2485.37       2563.27
 13      RUSSIAN RUBLE           RUB            -    360.58        401.79
 14      SWEDISH KRONA           SEK            -   2403.98       2464.50
 15   SINGAPORE DOLLAR           SGD     16755.29  16878.58      17088.14
 16          THAI BAHT           THB       750.44    750.44        781.74
 17          US DOLLAR           USD     23090.00  23120.00      23240.00

           date

 0   2019-12-04
 1   2019-12-04
 2   2019-12-04
 3   2019-12-04
 4   2019-12-04
 5   2019-12-04
 6   2019-12-04
 7   2019-12-04
 8   2019-12-04
 9   2019-12-04
 10  2019-12-04
 11  2019-12-04
 12  2019-12-04
 13  2019-12-04
 14  2019-12-04
 15  2019-12-04
 16  2019-12-04
 17  2019-12-04  ,
              Currency               Buying Rates           Selling Rates  \
         Currency Name Currency Code         Cash  Transfer Selling Rates
 0         AUST.DOLLAR           AUD     15599.88  15699.20      15991.52
 1     CANADIAN DOLLAR           CAD     17250.32  17412.21      17733.66
 2        SWISS FRANCE           CHF     23084.45  23252.36      23673.13
 3        DANISH KRONE           DKK            -   3386.53       3492.69
 4                EURO           EUR     25449.26  25530.91      26323.31
 5       BRITISH POUND           GBP     30013.00  30229.75      30524.04
 6     HONGKONG DOLLAR           HKD      2914.40   2934.97       2986.98
 7        INDIAN RUPEE           INR            -    323.50        336.19
 8        JAPANESE YEN           JPY       202.82    209.42        216.07
 9    SOUTH KOREAN WON           KRW        17.82     18.77         20.79
 10      KUWAITI DINAR           KWD            -  76140.11      79127.72
 11  MALAYSIAN RINGGIT           MYR            -   5523.22       5594.72
 12   NORWEGIAN KRONER           NOK            -   2491.03       2569.12
 13      RUSSIAN RUBLE           RUB            -    362.01        403.38
 14      SWEDISH KRONA           SEK            -   2409.39       2470.05
 15   SINGAPORE DOLLAR           SGD     16777.45  16900.90      17110.71
 16          THAI BAHT           THB       749.45    749.45        780.71
 17          US DOLLAR           USD     23090.00  23120.00      23240.00

           date

 0   2019-12-05
 1   2019-12-05
 2   2019-12-05
 3   2019-12-05
 4   2019-12-05
 5   2019-12-05
 6   2019-12-05
 7   2019-12-05
 8   2019-12-05
 9   2019-12-05
 10  2019-12-05
 11  2019-12-05
 12  2019-12-05
 13  2019-12-05
 14  2019-12-05
 15  2019-12-05
 16  2019-12-05
 17  2019-12-05  ,
              Currency               Buying Rates           Selling Rates  \
         Currency Name Currency Code         Cash  Transfer Selling Rates
 0         AUST.DOLLAR           AUD     15591.94  15691.21      15983.40
 1     CANADIAN DOLLAR           CAD     17261.01  17423.00      17744.64
 2        SWISS FRANCE           CHF     23091.17  23259.12      23680.02
 3        DANISH KRONE           DKK            -   3391.79       3498.11
 4                EURO           EUR     25489.73  25571.50      26365.12
 5       BRITISH POUND           GBP     30123.36  30340.89      30636.18
 6     HONGKONG DOLLAR           HKD      2913.70   2934.27       2986.26
 7        INDIAN RUPEE           INR            -    324.56        337.30
 8        JAPANESE YEN           JPY       202.95    209.55        216.20
 9    SOUTH KOREAN WON           KRW        17.83     18.78         20.80
 10      KUWAITI DINAR           KWD            -  76198.95      79188.88
 11  MALAYSIAN RINGGIT           MYR            -   5531.31       5602.92
 12   NORWEGIAN KRONER           NOK            -   2498.18       2576.49
 13      RUSSIAN RUBLE           RUB            -    363.03        404.53
 14      SWEDISH KRONA           SEK            -   2412.12       2472.85
 15   SINGAPORE DOLLAR           SGD     16803.47  16927.10      17137.20
 16          THAI BAHT           THB       748.54    748.54        779.77
 17          US DOLLAR           USD     23090.00  23120.00      23240.00

           date

 0   2019-12-06
 1   2019-12-06
 2   2019-12-06
 3   2019-12-06
 4   2019-12-06
 5   2019-12-06
 6   2019-12-06
 7   2019-12-06
 8   2019-12-06
 9   2019-12-06
 10  2019-12-06
 11  2019-12-06
 12  2019-12-06
 13  2019-12-06
 14  2019-12-06
 15  2019-12-06
 16  2019-12-06
 17  2019-12-06  ,
              Currency               Buying Rates           Selling Rates  \
         Currency Name Currency Code         Cash  Transfer Selling Rates
 0         AUST.DOLLAR           AUD     15591.94  15691.21      15983.40
 1     CANADIAN DOLLAR           CAD     17261.01  17423.00      17744.64
 2        SWISS FRANCE           CHF     23091.17  23259.12      23680.02
 3        DANISH KRONE           DKK            -   3391.79       3498.11
 4                EURO           EUR     25489.73  25571.50      26365.12
 5       BRITISH POUND           GBP     30123.36  30340.89      30636.18
 6     HONGKONG DOLLAR           HKD      2913.70   2934.27       2986.26
 7        INDIAN RUPEE           INR            -    324.56        337.30
 8        JAPANESE YEN           JPY       202.95    209.55        216.20
 9    SOUTH KOREAN WON           KRW        17.83     18.78         20.80
 10      KUWAITI DINAR           KWD            -  76198.95      79188.88
 11  MALAYSIAN RINGGIT           MYR            -   5531.31       5602.92
 12   NORWEGIAN KRONER           NOK            -   2498.18       2576.49
 13      RUSSIAN RUBLE           RUB            -    363.03        404.53
 14      SWEDISH KRONA           SEK            -   2412.12       2472.85
 15   SINGAPORE DOLLAR           SGD     16803.47  16927.10      17137.20
 16          THAI BAHT           THB       748.54    748.54        779.77
 17          US DOLLAR           USD     23090.00  23120.00      23240.00

           date

 0   2019-12-07
 1   2019-12-07
 2   2019-12-07
 3   2019-12-07
 4   2019-12-07
 5   2019-12-07
 6   2019-12-07
 7   2019-12-07
 8   2019-12-07
 9   2019-12-07
 10  2019-12-07
 11  2019-12-07
 12  2019-12-07
 13  2019-12-07
 14  2019-12-07
 15  2019-12-07
 16  2019-12-07
 17  2019-12-07  ,
              Currency               Buying Rates           Selling Rates  \
         Currency Name Currency Code         Cash  Transfer Selling Rates
 0         AUST.DOLLAR           AUD     15591.94  15691.21      15983.40
 1     CANADIAN DOLLAR           CAD     17261.01  17423.00      17744.64
 2        SWISS FRANCE           CHF     23091.17  23259.12      23680.02
 3        DANISH KRONE           DKK            -   3391.79       3498.11
 4                EURO           EUR     25489.73  25571.50      26365.12
 5       BRITISH POUND           GBP     30123.36  30340.89      30636.18
 6     HONGKONG DOLLAR           HKD      2913.70   2934.27       2986.26
 7        INDIAN RUPEE           INR            -    324.56        337.30
 8        JAPANESE YEN           JPY       202.95    209.55        216.20
 9    SOUTH KOREAN WON           KRW        17.83     18.78         20.80
 10      KUWAITI DINAR           KWD            -  76198.95      79188.88
 11  MALAYSIAN RINGGIT           MYR            -   5531.31       5602.92
 12   NORWEGIAN KRONER           NOK            -   2498.18       2576.49
 13      RUSSIAN RUBLE           RUB            -    363.03        404.53
 14      SWEDISH KRONA           SEK            -   2412.12       2472.85
 15   SINGAPORE DOLLAR           SGD     16803.47  16927.10      17137.20
 16          THAI BAHT           THB       748.54    748.54        779.77
 17          US DOLLAR           USD     23090.00  23120.00      23240.00

           date

 0   2019-12-08
 1   2019-12-08
 2   2019-12-08
 3   2019-12-08
 4   2019-12-08
 5   2019-12-08
 6   2019-12-08
 7   2019-12-08
 8   2019-12-08
 9   2019-12-08
 10  2019-12-08
 11  2019-12-08
 12  2019-12-08
 13  2019-12-08
 14  2019-12-08
 15  2019-12-08
 16  2019-12-08
 17  2019-12-08  ,
              Currency               Buying Rates           Selling Rates  \
         Currency Name Currency Code         Cash  Transfer Selling Rates
 0         AUST.DOLLAR           AUD     15575.95  15675.12      15967.04
 1     CANADIAN DOLLAR           CAD     17151.50  17312.49      17632.25
 2        SWISS FRANCE           CHF     23018.81  23186.25      23605.90
 3        DANISH KRONE           DKK            -   3377.28       3483.15
 4                EURO           EUR     25381.72  25463.17      26253.54
 5       BRITISH POUND           GBP     30091.29  30308.59      30603.59
 6     HONGKONG DOLLAR           HKD      2913.51   2934.08       2986.07
 7        INDIAN RUPEE           INR            -    324.39        337.12
 8        JAPANESE YEN           JPY       203.38    209.98        216.64
 9    SOUTH KOREAN WON           KRW        17.81     18.76         20.77
 10      KUWAITI DINAR           KWD            -  76123.68      79110.66
 11  MALAYSIAN RINGGIT           MYR            -   5533.97       5605.61
 12   NORWEGIAN KRONER           NOK            -   2499.44       2577.79
 13      RUSSIAN RUBLE           RUB            -    363.15        404.66
 14      SWEDISH KRONA           SEK            -   2409.05       2469.70
 15   SINGAPORE DOLLAR           SGD     16798.53  16922.12      17132.16
 16          THAI BAHT           THB       748.30    748.30        779.51
 17          US DOLLAR           USD     23090.00  23120.00      23240.00

           date

 0   2019-12-09
 1   2019-12-09
 2   2019-12-09
 3   2019-12-09
 4   2019-12-09
 5   2019-12-09
 6   2019-12-09
 7   2019-12-09
 8   2019-12-09
 9   2019-12-09
 10  2019-12-09
 11  2019-12-09
 12  2019-12-09
 13  2019-12-09
 14  2019-12-09
 15  2019-12-09
 16  2019-12-09
 17  2019-12-09  ,
              Currency               Buying Rates           Selling Rates  \
         Currency Name Currency Code         Cash  Transfer Selling Rates
 0         AUST.DOLLAR           AUD     15533.76  15632.68      15923.87
 1     CANADIAN DOLLAR           CAD     17171.14  17332.31      17652.41
 2        SWISS FRANCE           CHF     23104.92  23272.97      23694.11
 3        DANISH KRONE           DKK            -   3382.21       3488.23
 4                EURO           EUR     25415.29  25496.84      26288.23
 5       BRITISH POUND           GBP     30121.44  30338.95      30634.23
 6     HONGKONG DOLLAR           HKD      2914.07   2934.64       2986.65
 7        INDIAN RUPEE           INR            -    326.05        338.85
 8        JAPANESE YEN           JPY       203.31    209.91        216.57
 9    SOUTH KOREAN WON           KRW        17.74     18.69         20.71
 10      KUWAITI DINAR           KWD            -  76132.32      79119.65
 11  MALAYSIAN RINGGIT           MYR            -   5530.12       5601.71
 12   NORWEGIAN KRONER           NOK            -   2482.78       2560.61
 13      RUSSIAN RUBLE           RUB            -    363.43        404.97
 14      SWEDISH KRONA           SEK            -   2399.82       2460.23
 15   SINGAPORE DOLLAR           SGD     16804.79  16928.43      17138.55
 16          THAI BAHT           THB       749.12    749.12        780.37
 17          US DOLLAR           USD     23090.00  23120.00      23240.00

           date

 0   2019-12-10
 1   2019-12-10
 2   2019-12-10
 3   2019-12-10
 4   2019-12-10
 5   2019-12-10
 6   2019-12-10
 7   2019-12-10
 8   2019-12-10
 9   2019-12-10
 10  2019-12-10
 11  2019-12-10
 12  2019-12-10
 13  2019-12-10
 14  2019-12-10
 15  2019-12-10
 16  2019-12-10
 17  2019-12-10  ,
              Currency               Buying Rates           Selling Rates  \
         Currency Name Currency Code         Cash  Transfer Selling Rates
 0         AUST.DOLLAR           AUD     15529.19  15628.08      15919.20
 1     CANADIAN DOLLAR           CAD     17181.53  17342.80      17663.08
 2        SWISS FRANCE           CHF     23149.56  23317.93      23739.83
 3        DANISH KRONE           DKK            -   3386.58       3492.73
 4                EURO           EUR     25454.35  25536.02      26328.58
 5       BRITISH POUND           GBP     30048.14  30265.14      30559.75
 6     HONGKONG DOLLAR           HKD      2914.15   2934.72       2986.73
 7        INDIAN RUPEE           INR            -    326.47        339.28
 8        JAPANESE YEN           JPY       202.96    209.56        216.22
 9    SOUTH KOREAN WON           KRW        17.74     18.69         20.70
 10      KUWAITI DINAR           KWD            -  76107.25      79093.60
 11  MALAYSIAN RINGGIT           MYR            -   5536.76       5608.45
 12   NORWEGIAN KRONER           NOK            -   2484.94       2562.84
 13      RUSSIAN RUBLE           RUB            -    363.99        405.59
 14      SWEDISH KRONA           SEK            -   2409.57       2470.23
 15   SINGAPORE DOLLAR           SGD     16815.93  16939.65      17149.89
 16          THAI BAHT           THB       749.62    749.62        780.89
 17          US DOLLAR           USD     23090.00  23120.00      23240.00

           date

 0   2019-12-11
 1   2019-12-11
 2   2019-12-11
 3   2019-12-11
 4   2019-12-11
 5   2019-12-11
 6   2019-12-11
 7   2019-12-11
 8   2019-12-11
 9   2019-12-11
 10  2019-12-11
 11  2019-12-11
 12  2019-12-11
 13  2019-12-11
 14  2019-12-11
 15  2019-12-11
 16  2019-12-11
 17  2019-12-11  ,
              Currency               Buying Rates           Selling Rates  \
         Currency Name Currency Code         Cash  Transfer Selling Rates
 0         AUST.DOLLAR           AUD     15677.64  15777.42      16071.08

In [18]:
result = pd.concat(dfs)

In [19]:
result.head(5)

          Currency               Buying Rates           Selling Rates  \
     Currency Name Currency Code         Cash  Transfer Selling Rates
0      AUST.DOLLAR           AUD     15450.15  15548.56      15838.32
1  CANADIAN DOLLAR           CAD     17121.41  17282.13      17601.37
2     SWISS FRANCE           CHF     22841.72  23007.92      23424.53
3     DANISH KRONE           DKK            -   3364.90       3470.37
4             EURO           EUR     25286.94  25368.10      26155.60

         date

0  2019-12-01
1  2019-12-01
2  2019-12-01
3  2019-12-01
4  2019-12-01

In [20]:
result.columns = ['Currency Name','Currency Code','Cash Rates', 'Transfer Rates', 'Selling Rates','Date']

In [21]:
result.head()

,Currency Name,Currency Code,Cash Rates,Transfer Rates,Selling Rates,Date
0,AUST.DOLLAR,AUD,15450.15,15548.56,15838.32,2019-12-01
1,CANADIAN DOLLAR,CAD,17121.41,17282.13,17601.37,2019-12-01
2,SWISS FRANCE,CHF,22841.72,23007.92,23424.53,2019-12-01
3,DANISH KRONE,DKK,-,3364.90,3470.37,2019-12-01
4,EURO,EUR,25286.94,25368.10,26155.60,2019-12-01

In [22]:
print?

In [9]:
result.dtypes

Currency Name      object
Currency Code      object
Cash Rates        float64
Transfer Rates    float64
Selling Rates     float64
Date               object
dtype: object

In [10]:
result['Cash Rates'] = pd.to_numeric(result['Cash Rates'], errors = 'coerce')
result['Transfer Rates'] = pd.to_numeric(result['Transfer Rates'], errors = 'coerce')
result['Selling Rates'] = pd.to_numeric(result['Selling Rates'], errors = 'coerce')
result['Date'] = pd.to_datetime(result['Date'])

In [24]:
pd.to_numeric?

In [25]:
result.head()

,Currency Name,Currency Code,Cash Rates,Transfer Rates,Selling Rates,Date
0,AUST.DOLLAR,AUD,15450.15,15548.56,15838.32,2019-12-01
1,CANADIAN DOLLAR,CAD,17121.41,17282.13,17601.37,2019-12-01
2,SWISS FRANCE,CHF,22841.72,23007.92,23424.53,2019-12-01
3,DANISH KRONE,DKK,-,3364.90,3470.37,2019-12-01
4,EURO,EUR,25286.94,25368.10,26155.60,2019-12-01

In [34]:
# result[(result['Currency Code']=='USD') | (result['Currency Code']=='AUD')]

,Currency Name,Currency Code,Cash Rates,Transfer Rates,Selling Rates,Date
0,AUST.DOLLAR,AUD,15450.15,15548.56,15838.32,2019-12-01
17,US DOLLAR,USD,23095.00,23125.00,23245.00,2019-12-01
0,AUST.DOLLAR,AUD,15433.10,15531.41,15820.88,2019-12-02
17,US DOLLAR,USD,23090.00,23120.00,23240.00,2019-12-02
0,AUST.DOLLAR,AUD,15556.47,15655.52,15947.10,2019-12-03
17,US DOLLAR,USD,23090.00,23120.00,23240.00,2019-12-03
0,AUST.DOLLAR,AUD,15593.03,15692.30,15984.51,2019-12-04
17,US DOLLAR,USD,23090.00,23120.00,23240.00,2019-12-04
0,AUST.DOLLAR,AUD,15599.88,15699.20,15991.52,2019-12-05
17,US DOLLAR,USD,23090.00,23120.00,23240.00,2019-12-05
0,AUST.DOLLAR,AUD,15591.94,15691.21,15983.40,2019-12-06
17,US DOLLAR,USD,23090.00,23120.00,23240.00,2019-12-06
0,AUST.DOLLAR,AUD,15591.94,15691.21,15983.40,2019-12-07
17,US DOLLAR,USD,23090.00,23120.00,23240.00,2019-12-07
0,AUST.DOLLAR,AUD,15591.94,15691.21,15983.40,2019-12-08
17,US DOLLAR,USD,23090.00,23120.00,23240.00,2019-12-08
0,AUST.DOLLAR,AUD,15575.95,15675.12,15967.04,2019-12-09
17,US DOLLAR,USD,23090.00,23120.00,23240.00,2019-12-09
0,AUST.DOLLAR,AUD,15533.76,15632.68,15923.87,2019-12-10
17,US DOLLAR,USD,23090.00,23120.00,23240.00,2019-12-10
0,AUST.DOLLAR,AUD,15529.19,15628.08,15919.20,2019-12-11
17,US DOLLAR,USD,23090.00,23120.00,23240.00,2019-12-11
0,AUST.DOLLAR,AUD,15677.64,15777.42,16071.08,2019-12-12
17,US DOLLAR,USD,23080.00,23110.00,23230.00,2019-12-12
0,AUST.DOLLAR,AUD,15775.83,15876.21,16171.55,2019-12-13
17,US DOLLAR,USD,23080.00,23110.00,23230.00,2019-12-13
0,AUST.DOLLAR,AUD,15775.83,15876.21,16171.55,2019-12-14
17,US DOLLAR,USD,23080.00,23110.00,23230.00,2019-12-14
0,AUST.DOLLAR,AUD,15775.83,15876.21,16171.55,2019-12-15
17,US DOLLAR,USD,23080.00,23110.00,23230.00,2019-12-15
0,AUST.DOLLAR,AUD,15665.03,15764.74,16058.18,2019-12-16
17,US DOLLAR,USD,23085.00,23115.00,23235.00,2019-12-16
0,AUST.DOLLAR,AUD,15657.08,15756.74,16050.05,2019-12-17
17,US DOLLAR,USD,23080.00,23110.00,23230.00,2019-12-17
0,AUST.DOLLAR,AUD,15613.69,15713.09,16005.65,2019-12-18
17,US DOLLAR,USD,23080.00,23110.00,23230.00,2019-12-18

In [26]:
result_usd = result[result['Currency Code']=='USD']

In [27]:
result_usd

,Currency Name,Currency Code,Cash Rates,Transfer Rates,Selling Rates,Date
17,US DOLLAR,USD,23095.00,23125.0,23245.0,2019-12-01
17,US DOLLAR,USD,23090.00,23120.0,23240.0,2019-12-02
17,US DOLLAR,USD,23090.00,23120.0,23240.0,2019-12-03
17,US DOLLAR,USD,23090.00,23120.0,23240.0,2019-12-04
17,US DOLLAR,USD,23090.00,23120.0,23240.0,2019-12-05
17,US DOLLAR,USD,23090.00,23120.0,23240.0,2019-12-06
17,US DOLLAR,USD,23090.00,23120.0,23240.0,2019-12-07
17,US DOLLAR,USD,23090.00,23120.0,23240.0,2019-12-08
17,US DOLLAR,USD,23090.00,23120.0,23240.0,2019-12-09
17,US DOLLAR,USD,23090.00,23120.0,23240.0,2019-12-10
17,US DOLLAR,USD,23090.00,23120.0,23240.0,2019-12-11
17,US DOLLAR,USD,23080.00,23110.0,23230.0,2019-12-12
17,US DOLLAR,USD,23080.00,23110.0,23230.0,2019-12-13
17,US DOLLAR,USD,23080.00,23110.0,23230.0,2019-12-14
17,US DOLLAR,USD,23080.00,23110.0,23230.0,2019-12-15
17,US DOLLAR,USD,23085.00,23115.0,23235.0,2019-12-16
17,US DOLLAR,USD,23080.00,23110.0,23230.0,2019-12-17
17,US DOLLAR,USD,23080.00,23110.0,23230.0,2019-12-18

In [37]:
import plotly.express as px
fig = px.line(result[result['Currency Code']=='USD'], x="Date", y='Selling Rates',range_y=[20000,25000])
fig.show()

In [38]:
result[result['Currency Code']=='USD'].describe()

       Transfer Rates  Selling Rates
count       18.000000      18.000000
mean     23116.666667   23236.666667
std          5.144958       5.144958
min      23110.000000   23230.000000
25%      23110.000000   23230.000000
50%      23120.000000   23240.000000
75%      23120.000000   23240.000000
max      23125.000000   23245.000000