# Data structure

In [ ]:
#List: có thể thay đổi
#Tuple : List cố định
# Dict : theo cặp Key:value
# Set: là 1 tập hợp unique

# List

In [ ]:
#append
#extend -> lấy 1 list khác
#Remove
#Slicing được các data trong list (nhớ chiều của slice [bắt đầu:kết thúc:chiều/bước nhảy(1,-1)])
#insert(index vị trí thêm vào, giá trị thêm vào)
#pop -> xóa 1 đối tượng ở 1 vị trí cụ thể và lấy ra giá trị bị xóa đi
#Check 1 phần tử có trong danh sách hay không in

In [3]:
a = []
for i in range(1,101) :
    if i % 3 == 0 and i % 7 != 0 :
        a.append(i)
print(a)
sum(a)

[3, 6, 9, 12, 15, 18, 24, 27, 30, 33, 36, 39, 45, 48, 51, 54, 57, 60, 66, 69, 72, 75, 78, 81, 87, 90, 93, 96, 99]

1473

In [5]:
b = []
for i in range(3,101,3) :
    if i % 21 != 0 :
        b.append(i)
sum(b)

1473

In [6]:
sum(range(3,101,3)) - sum(range(21,101,21))

1473

In [ ]:
#ghép 2 list vào : cộng 2 list hoặc extend

In [15]:
slist = ['Thiều Đình Khanh','Nguyễn Việt Anh','Nguyễn Mạnh Cường']
def text_to_short (s) :
    i = s[::-1].find(' ')
    s_to_short = s[-i:] + ' ' + s[:-i-1]
    return s_to_short
slist.sort(key=text_to_short,reverse=False)
slist

['Nguyễn Việt Anh', 'Nguyễn Mạnh Cường', 'Thiều Đình Khanh']

In [17]:
s = 'Nguyễn Mạnh Cường'
s_list = s.split()
new_s = s_list[-1:] + s_list[:-1]
' '.join(new_s)

'Cường Nguyễn Mạnh'

# Tuple

# Dictionary

In [18]:
d1 = {'name':'abc' ,'phone':['054494941','0160546484']}

In [26]:
x = []
for i in d1['phone'] :
    if i[:3] == '016' :
        x.append('088' + i[3:])
    else :
        x.append(i)
d1['phone'] = x

In [27]:
d1['phone']

['054494941', '0880546484']

In [28]:
d1

{'name': 'abc', 'phone': ['054494941', '0880546484']}

# Set

In [ ]:
#set -> chỉ có giá trị duy nhất 
# union -> ghép lại
# intersection -> chỉ lấy ra phần tử chung
# difference -> lấy ra các phần tử không chung

In [ ]:
# khác biệt giữa discard và remove giống find và index

In [29]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [32]:
#In the following lists, find all name with more than 2 'e' character.
for list_name in all_data :
    for name in list_name :
        if name.count('e') >= 2 :
            print(name)

Steven