# Data Structures and Sequences

# list
In contrast with tuples, lists are variable-length and their contents can be modified
in-place. You can define them using square brackets [] or using the list type function:

In [ ]:
dpy = []
dpy

In [ ]:
dpy.append('bao')

In [ ]:
dpy

In [ ]:
team = ['linh', 'chi', 'huong', 'hien']
dpy.extend(team)

In [ ]:
dpy

In [ ]:
dpy.remove('bao')

In [ ]:
dpy

In [ ]:
dpy[1]

In [ ]:
dpy.insert(1, 'viet')

In [ ]:
dpy

In [ ]:
len(dpy)

In [ ]:
dpy[1]

In [ ]:
x = dpy.pop(1)

In [ ]:
x

In [ ]:
dpy

In [ ]:
'huong' in dpy

In [ ]:
dpy = ['linh', 'viet', 'chi', 'huong', 'hien']

In [ ]:
dpy[0:2]

In [ ]:
dpy[-3:-1]

In [ ]:
dpy[0:3:2]

In [ ]:
dpy[1:5:3]

In [ ]:
for student in dpy:
    print('chao {}'.format(student))

### range
range formula:   <b> range(start, stop[, step]) </b>

In [ ]:
gen = range(-10, 10, 3)
li=list(gen)
li

In [ ]:
sum(li)

In [ ]:
gen2=range(1,11)
li2=list(gen2)
li2

In [ ]:
print(list(range(1, 10, 2)))

## Practice:
Tính tổng các số chia hết cho 3 và <b>KHÔNG</b> chia hết cho 7 từ 1 đến 100:

Duration: 5 mins

In [ ]:
su = 0
for i in range(1, 101):
    if i%3==0 and i%7!=0:
        su += i
print(su)

In [ ]:
sum([i for i in range(1, 101) if (i%3==0 and i%7!=0)])

### Concatenating, combining and filtering lists

In [ ]:
lst = [4, None, 'foo'] + [7, 8, (2, 3)]
lst

In [ ]:
x = [4, None, 'foo']
x.extend([7, 8, (2, 3)])
x

### Sorting

In [ ]:
a = [7, 2, 5, 1, 3]

In [ ]:
a.sort(reverse=True)

In [ ]:
a

In [ ]:
sum(a)

In [ ]:
min(a)

In [ ]:
max(a)

In [ ]:
a.copy?

In [ ]:
dir(a)

In [ ]:
b = ['saw', 'six', 'sal', 'He', 'foxes']
#b.sort()
b.sort(key=len)
b

In [ ]:
#sorted
a = [7, 1, 2, 6, 0, 3, 2]
b = sorted(a)

In [ ]:
print(a)
print(b)

## Tuple
A tuple is a fixed-length, immutable sequence of Python objects. The easiest way to create one is with a comma-separated sequence of values:

Create a tuple, check tuple detail

In [ ]:
tup = (2, 3 ,5)

In [ ]:
tup

In [ ]:
tup?

Create a nested tuple

In [ ]:
nested_tup = ((4, 5, 6), (7, 8))

In [ ]:
nested_tup

Convert a list to a tuple

In [ ]:
li=[3, 5, 6]
a = tuple(li)
a

In [ ]:
b=list(a)
print(b)
print(a)

Convert a string to a tuple

In [ ]:
tuple('a string')

Access Tuple Items

In [ ]:
tup = (2, 3 ,5)
tup[0]

In [ ]:
tup =('foo', [1, 2], True)

In [ ]:
x = list(tup)
x

In [ ]:
x[1] = [1, 2, 3]
x

In [ ]:
tuple(x)

In [ ]:
tup

Change Tuple Values

In [1]:
tup =('foo', [1, 2], True)
tup[1].append(3)

In [ ]:
tup

In [ ]:
tup[1]=1

In [ ]:
a = [1, [2, 3], 4]

In [ ]:
b = a

In [ ]:
a[1].append(56)

In [ ]:
a

In [ ]:
b[1].append(10)

In [ ]:
b

In [ ]:
a

Can't not remove or add Items in tuple

unpacking a tuple

In [ ]:
tup = (6, 8 ,9)
a, b, c = tup

In [ ]:
a

In [ ]:
b

In [ ]:
z=tup[0]
z

In [ ]:
tup = (5, [6, 7, 8], 9)
a, [x, y, z], c = tup

In [ ]:
x

In [ ]:
khanh = 1,2,3

In [ ]:
khanh

In [ ]:
new_tuple = 1, 2, 3, '', 5
new_tuple

Try: min(), max(), len(), sum()

## dict
dict is a flexibly sized collection of key-value pairs, where key and value are Python objects. One approach for creating one is to use curly braces {} and colons to separate keys and values:

In [ ]:
d1 = {'full_name' : 'Nguyen Van A', 'phones' : ['090078955','0168558889']}
d1

In [ ]:
d1['phones']

In [ ]:
d1['id'] = '017109888'
d1

In [ ]:
d1['id'] = '5678'
d1

In [ ]:
s=d1['phones'][1] 
type(d1['phones'][1])

In [ ]:
d1['phones'][1] = d1['phones'][1].replace('016', '03')

In [ ]:
d1

In [ ]:
'id' in d1

In [ ]:
from datetime import date
d1['dob'] = date(1999,1,21)
d1

In [ ]:
del d1['id']
d1

In [ ]:
d1.pop('phones')

In [ ]:
d1

In [ ]:
d2 = {'full_name' : 'Nguyen Van Teo', 'phones' : ['89548224'], 'id':'1568','address':'Hanoi'}
d1.update(d2)

In [ ]:
d1

In [ ]:
list(d1.keys())

In [ ]:
list(d1.values())

In [ ]:
d1.items()

In [ ]:
for key, value in d1.items():
    print (key, value)

In [ ]:
name = ['bao', 'huong', 'linh']
mark = ['8', '7', '8']
combined=zip(name, mark)
combined=dict(combined)
combined

In [ ]:
for name, mark in combined:
    print('{0}\'s mark is {1}'.format(name,mark))

In [ ]:
#zip
value = ['Nguyễn Văn A', 1235849, 'A']
key = ['Full Name', 'ID', 'Grade']
zipped = zip(key, value)
zipped?

In [ ]:
dict(zipped)

## set

A set is an unordered collection of unique elements. You can think of them like dicts,
but keys only, no values. A set can be created in two ways: via the set function or via
a set literal with curly braces:

In [3]:
li = [2, 2, 2, 1, 3, 3]
se = set(li)
print (li)
print (se)

[2, 2, 2, 1, 3, 3]
{1, 2, 3}

In [4]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [5]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [6]:
a.intersection(b)

{3, 4, 5}

In [7]:
a.difference(b)

{1, 2}

In [8]:
a = {1, 2, 3, 4, 5}
a.discard(5)
a

{1, 2, 3, 4}

In [9]:
a.add(5)
a

{1, 2, 3, 4, 5}

In [10]:
a = {1, 2, 3, 4, 5}

In [11]:
a.remove?

In [ ]:
a

In [12]:
a.discard?

In [13]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}

In [14]:
my_set

{(1, 2, 3, 4)}

In [15]:
new_set = {1, 2, 3, 4}

In [16]:
a_set = {1, 2, 3, 4, 5}

In [ ]:
new_set.issubset(a_set)

In [17]:
{1, 2, 3} == {3, 2, 1}

True

## for loops over collection
for loops are for iterating over a collection (like a list or tuple) or an iterater.

In [21]:
sequence = [1, 0, 1, 2, None, 8, 5,  8, None, 12]
total = 0
for value in sequence:
    if value is None:
        continue
    total += value
total

37

In [24]:
total_until_5 = 0
for value in sequence:
    if value >= 5:
        break
    total_until_5 += value
total_until_5

TypeError: '>=' not supported between instances of 'NoneType' and 'int'

In [26]:
for i in range(6):
    b = False
    for j in range(4):
        if i == 3:
            b = True
            break
        print((i, j))
    if b == True:
        break

(0, 0)
(0, 1)
(0, 2)
(0, 3)
(1, 0)
(1, 1)
(1, 2)
(1, 3)
(2, 0)
(2, 1)
(2, 2)
(2, 3)

In [ ]:
# for loop inside a loop
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'], 
        ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar', 'Steven']]

name_list = []
for names in all_data:
    for name in names:
        name_list.append(name)
        
name_list

In [ ]:
lst = []
for name in name_list:
    if name_list.count(name)>=2:
        lst.append(name)
lst

In [ ]:
[name for name in name_list if name_list.count(name) >= 2]

In [ ]:
[name for name in name_list if 'a' in name]

In [ ]:
lst = []
for i in range(1, 101):
    if i%3 == 0:
        lst.append(i)
lst

In [ ]:
[i for i in range(1, 101) if i%3==0]

## List, Set, and Dict Comprehensions
[expr for val in collection if condition]

In [31]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']

### Practice

In [32]:
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [33]:
{len(x) for x in strings}

{1, 2, 3, 4, 6}

In [37]:
new_dict = {'name': 'nguyen van a', 'phone':'0988888789', 'new phone':'0168559955'}

{key: value for key, value in new_dict.items() if value.isnumeric()}

{'phone': '0988888789', 'new phone': '0168559955'}

name
nguyen van a
phone
0988888789
new phone
0168559955

In [39]:
s = '456'
s.isnumeric()

True

### Nested list comprehensions

# Practice:
In the following lists, find all name with more than 2 'e' character.

In [ ]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'], 
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [ ]:
names_of_interest = []
for names in all_data:
    enough_es = [name for name in names if name.count('e') >= 2]
    names_of_interest.extend(enough_es)

In [ ]:
result = [name for names in all_data for name in names if name.count('e') >= 2]

In [ ]:
names_of_interest

In [ ]:
result

In [ ]:
#use to flaten data 
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [ ]:
[x for tup in some_tuples for x in tup]

In [ ]:
import datetime

d1 = datetime.date(2018, 7, 15)
d2 = datetime.date(2018, 8, 6)
date_range = range((d2-d1).days + 1)
days = [d1 + datetime.timedelta(days=x) for x in date_range]


x = [print(day.strftime('%Y/%m/%d')) for day in days]

In [ ]:
x

In [ ]:
a = [1, 2, [3, 4, 5]]
b = a

In [ ]:
a

In [ ]:
b

In [ ]:
b[2].append(6)

In [ ]:
b

In [ ]:
a

## Task 1
Each new term in the Fibonacci sequence is generated by adding the previous two terms. By starting with 1 and 2, the first 10 terms will be:

$$1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...$$

1. Made a list of first 20 Fibonacci number
3. List of even number in first 20 number.
3. Sum of odd number in first 20 number

Duration: 10 mins

In [ ]:
flist = [1, 2]
a, b = 1, 2
count = 2
while len(flist) < 20:
    a, b = b, a + b
    flist.append(b)   
print (flist)

In [ ]:
sum(flist)

In [ ]:
[number for number in flist if number%2 == 0]

In [ ]:
sum(number for number in flist if number%2 != 0)

## Task 2
<b>Cho list sau:</b>

data = ['I', 'Love', 'You', 'Chiu', 'Chiu']

<b>Tạo ra 1 list mới như bên dưới:</b>

result = [[1, 'I'], [2, 'Love'], [3, 'You'], [4, 'Chiu'], [5, 'Chiu']]

In [ ]:
data = ['I', 'Love', 'You', 'Chiu', 'Chiu']

In [ ]:
#1
[[i, v] for i, v in zip(range(1, 6), data)]

In [ ]:
#2
[[i, v] for i, v in enumerate(data, start = 1)]
# see more about enumerate at docs https://docs.python.org/3/library/functions.html#enumerate

## Task 3

Cho list <b>input</b>, viết script để có được list như <b>output</b>

In [2]:
exchange_input = ['AUD',
         '16,671.10',
         '16,771.73',
         '16,954.84',
         'EUR',
         '26,216.05',
         '26,294.93',
         '26,687.44',
         'GBP',
         '29,977.52',
         '30,188.84',
         '30,457.46',
         'JPY',
         '198.56',
         '200.57',
         '205.58',
         'USD',
         '23,245.00',
         '23,245.00',
         '23,335.00']
exchange_output = [['AUD', '16,671.10', '16,771.73', '16,954.84'],
         ['EUR', '26,216.05', '26,294.93', '26,687.44'],
         ['GBP', '29,977.52', '30,188.84', '30,457.46'],
         ['JPY', '198.56', '200.57', '205.58'],
         ['USD', '23,245.00', '23,245.00', '23,335.00']]

In [5]:
[exchange_input[i:i+4] for i in range(0, len(exchange_input)+1, 4)  
  if exchange_input[i:i+4]
]

[['AUD', '16,671.10', '16,771.73', '16,954.84'],
 ['EUR', '26,216.05', '26,294.93', '26,687.44'],
 ['GBP', '29,977.52', '30,188.84', '30,457.46'],
 ['JPY', '198.56', '200.57', '205.58'],
 ['USD', '23,245.00', '23,245.00', '23,335.00']]

## Task 4

a, b, c là các số nguyên dương nhỏ hơn 10, biết a + b/c = 10

In ra list chứa các bộ số thỏa mãn điều kiện trên (a, b, c có thể trùng nhau).

Ví dụ:

output: [[9, 1, 1], ...]

Trả về list chứa các list là các bộ số thỏa mãn đề bài

Ví dụ: [[9, 1, 1], ..., [1, 9, 1]]

<b> Lưu ý: kết quả từng list con trả về với a giảm dần, b và c tăng dần</b>

In [6]:
[[a, b, c] for a in range(9, 0, -1) for b in range(1, 10) for c in range(1, 10) 
 if a+b/c==10]

[[9, 1, 1],
 [9, 2, 2],
 [9, 3, 3],
 [9, 4, 4],
 [9, 5, 5],
 [9, 6, 6],
 [9, 7, 7],
 [9, 8, 8],
 [9, 9, 9],
 [8, 2, 1],
 [8, 4, 2],
 [8, 6, 3],
 [8, 8, 4],
 [7, 3, 1],
 [7, 6, 2],
 [7, 9, 3],
 [6, 4, 1],
 [6, 8, 2],
 [5, 5, 1],
 [4, 6, 1],
 [3, 7, 1],
 [2, 8, 1],
 [1, 9, 1]]

In [ ]:
list(range(9, 0, -1))

## Task 5

Viết script tính tổng điểm của 1 từ tiếng anh bất kì.

Nếu a b c d (không phân biệt chữ hoa thường) .... lần lượt bằng 1 2 3 4 ... thì từ ``attitude`` có giá trị bằng 100.
(https://9gag.com/gag/aWWP7bd?ref=fbp)

In [8]:
import string
string_to_calc = input('input string to calc: ')
abc = string.ascii_lowercase
sum(abc.find(x)+1 for x in string_to_calc)

input string to calc: attitude

100

In [11]:
s = 'abcd'

In [13]:
s.find('b')

1

## Task 6
Viết script trả về toàn bộ 3 số integer (a, b, c) là độ dài 3 cạnh của tam giác vuông cạnh huyền `c`,  có chu vi 24, biết độ dài các cạnh <= 10cm.

<b> Yêu cầu: dùng list comprehension.</b>

In [10]:
[(a, b, c) for a in range(0, 11) for b in range(0, 11) for c in range(0, 11) if (a+b+c==24 and a**2+b**2==c**2)]

[(6, 8, 10), (8, 6, 10)]

## Task 7
Thông tin học viên trong lớp trước tại thời điểm đầu năm:

data = [
    {"name": "Thanh",
     "phone": "0988888888",
     "languages": ["Python", "C", "SQL", "HTML", "CSS", "JavaScript",
                   "Golang"],
     },
    {"name": "Duy", "girl_friend": "Maria"},
    {"name": "Dai", "girl_friend": "Angela"},
    {"name": "Tu"},
]


Yêu cầu: 
Trả về list thông tin các học viên vào cuối năm, sau khi đã cập nhật các thay đổi trong năm và không thay đổi thông tin năm cũ. Biết rằng:

- Các học viên đều học được các ngôn ngữ lập trình trong "languages" của học viên "Thanh".

- Sau đó "Thanh" học thêm được ngôn ngữ "R", các học viên khác không biết ngôn ngữ này.

- "Tu" có bạn gái tên là "Do Anh".

- "Duy" chia thay bạn gái, không còn bạn gái nữa.


Lưu ý: Ví dụ này cần sử dụng đến deepcopy, xem thêm tại: https://docs.python.org/3/library/copy.html

In [ ]:
data = [
    {'name': 'Thanh',
     'phone': '0988888888',
     'languages': ['Python', 'C', 'SQL', 'HTML', 'CSS', 'JavaScript', 'Golang'],},
    {'name': 'Duy', 'girl_friend': 'Maria'},
    {'name': 'Dai', 'girl_friend': 'Angela'},
    {'name': 'Tu'},
]

import copy
data_new = copy.deepcopy(data)

old_lang = copy.deepcopy([student['languages'] for student in data_new if student['name'] == 'Thanh'][0])

for student in data_new:
    if student['name'] == 'Thanh':
        student['languages'].append('R')
    else:
        student['languages']=copy.deepcopy(old_lang)
    if student['name'] == 'Tu':
        student['girl_friend']='Do Anh'
    if student['name'] == 'Duy':
        del student['girl_friend']

data_new

## Task 8

Cho chuỗi sau:

data = '''Dictionaries are sometimes found in other languages as “associative memories” or “associative arrays”. Unlike sequences, which are indexed by a range of numbers, dictionaries are indexed by keys, which can be any immutable type; strings and numbers can always be keys. Tuples can be used as keys if they contain only strings, numbers, or tuples; if a tuple contains any mutable object either directly or indirectly, it cannot be used as a key. You can’t use lists as keys, since lists can be modified in place using index assignments, slice assignments.'''


Tạo ra 1 dict với key là từ xuất hiện trong chuỗi và value là số lần xuất hiện tương ứng. 
Ví dụ:

result={'Hello':5,'Buddy':6}

In [14]:
import string
data = '''Dictionaries are sometimes found in other languages as “associative memories” or “associative arrays”. Unlike sequences, which are indexed by a range of numbers, dictionaries are indexed by keys, which can be any immutable type; strings and numbers can always be keys. Tuples can be used as keys if they contain only strings, numbers, or tuples; if a tuple contains any mutable object either directly or indirectly, it cannot be used as a key. You can’t use lists as keys, since lists can be modified in place using index assignments, slice assignments.'''

data = data.lower()
string_set = set(string.ascii_lowercase)
string_set.add(' ')
spec_set = set(data).difference(string_set)

for i in spec_set:
    data = data.replace(i,'')

{i:data.split().count(i) for i in set(data.split())}

{'arrays': 1,
 'keys': 4,
 'can': 4,
 'use': 1,
 'indirectly': 1,
 'unlike': 1,
 'numbers': 3,
 'index': 1,
 'associative': 2,
 'contains': 1,
 'any': 2,
 'since': 1,
 'immutable': 1,
 'of': 1,
 'memories': 1,
 'tuple': 1,
 'using': 1,
 'place': 1,
 'directly': 1,
 'used': 2,
 'found': 1,
 'strings': 2,
 'it': 1,
 'range': 1,
 'assignments': 2,
 'are': 3,
 'be': 5,
 'type': 1,
 'which': 2,
 'key': 1,
 'cant': 1,
 'cannot': 1,
 'and': 1,
 'contain': 1,
 'modified': 1,
 'mutable': 1,
 'object': 1,
 'other': 1,
 'you': 1,
 'indexed': 2,
 'as': 4,
 'in': 2,
 'or': 3,
 'sequences': 1,
 'either': 1,
 'sometimes': 1,
 'dictionaries': 2,
 'only': 1,
 'always': 1,
 'if': 2,
 'they': 1,
 'slice': 1,
 'by': 2,
 'lists': 2,
 'a': 3,
 'tuples': 2,
 'languages': 1}

## Task 9

Cho bảng điểm 2 học kì như sau

Trả về result là dict chứa bảng điểm của các học sinh và trong mỗi bảng điểm chứa kết quả của các môn học sau hai học kỳ (cấu trúc tương tự như 2 terms đã cho). Biết điểm số được chọn là điểm số ở lần học sau cùng của mỗi người theo từng môn.

In [16]:
term1 = {'khanh': {'math': 3, 'python': 5, 'data': 2}, 'tung':{'math': 8, 'data': 7, 'python': 9}, 'lam':{'SQL': 5, 'data': 6}}
term2 = {'khanh': {'math': 7, 'python': 9, 'SQL': 8, 'HTML': 6}, 'tung':{'math': 8, 'data': 2}, 'hoang':{'math':6, 'data':3}}

In [17]:
import copy
year = copy.deepcopy(term1)
for key, value in term2.items():
    if key in year:
        year[key].update(value)
    else:
        year[key] = value
year

{'khanh': {'math': 7, 'python': 9, 'data': 2, 'SQL': 8, 'HTML': 6},
 'tung': {'math': 8, 'data': 2, 'python': 9},
 'lam': {'SQL': 5, 'data': 6},
 'hoang': {'math': 6, 'data': 3}}