# Lecture 2

# Python Standard Data Types

## Number types
[see full operator](https://docs.python.org/3/library/operator.html#mapping-operators-to-functions)

### float

### int

Assign int

In [ ]:
a = 10
print (type(a))
print (a)

Assign float

In [ ]:
b = 1.256
print (type(b))
print (b)

Addition

In [ ]:
c = a + b
print (type(c))
print (c)

Division

In [ ]:
a/b

Multiplication

In [ ]:
a*b

exponent

In [ ]:
a**b

modulo

In [ ]:
5%2

square root

In [ ]:
import math as m
math.sqrt(16) #căn bậc 2

round

In [ ]:
round(1.5, 0)

convert float to int

In [ ]:
int(1.5)

convert int to float

In [ ]:
float(1)

In [ ]:
p = '3.140'
p?

In [ ]:
int('3.14') #error

In [ ]:
f_p = float(p)
f_p

In [ ]:
i_p = int(f_p)
i_p

### Input method

In [ ]:
user_name = input ('your name: ')

In [ ]:
user_name

In [ ]:
user_age = int(input('your age: '))

In [ ]:
type(user_age)
user_age

In [ ]:
user_weight = float(input('your weight: '))

In [ ]:
type(user_weight)

In [ ]:
var = eval(input('some text: '))
var

In [ ]:
var = eval('1+2')
var

In [ ]:
var = 1+2

In [ ]:
s = 'print(5)'
eval(s)

In [ ]:
var = 123.5
var

## str

In [ ]:
b = 'this is a string'
print (type(b))
b?

In [ ]:
c = "string can be in double quote"
d = """string that
spans multiple lines"""

In [ ]:
d

In [ ]:
print (c)

In [ ]:
print (d)


# Print the following text:
-----

another way to

start a new line or show 'quotes' or special characters in you text

In [ ]:
s = 'another way to \n start a new line or show \'quotes\' or special characters in your text'
print(s)

In [ ]:
s

12\34 This is how to show slash

In [ ]:
f = '12\\34 This is how to show slash'
print (f)

this\has\no\special\characters

In [ ]:
# r stand for raw
r = r"this\has\no\special\characters"
print (r)

In [ ]:
r = r.capitalize()

In [ ]:
r

how to count number of line in a string?

In [ ]:
# number of line in a string by find special new line character

s = '''
line 1
line 2
line 3
'''
s.count('\n')

In [ ]:
Try to convert a number to str

In [ ]:
p = 3.14
type(p)

In [ ]:
str_p = str(p)

In [ ]:
print(str_p,'data type' ,type(str_p))
print?

In [ ]:
phone_number = '097989991'

In [ ]:
x = 'abcd efgh'

In [ ]:
x.split('c')

join, startwith, endwith, is..., upper, find, capitalize, lower....

In [ ]:
s.find?

In [ ]:
s = 'abc'
print (s)
print (type(s))

In [ ]:
b = '9'
b.isdigit()

In [ ]:
s = 'abcd'
s.find('e')

In [ ]:
s.index('e')

multiply string

In [ ]:
s = 'ab'
# Multiple string
s*3

Try to divide string

In [ ]:
s/3

Create 'new string' then split

In [ ]:
new = 'new string d'

In [ ]:
new.split(sep=' ')

add strings together

In [ ]:
'pi number is ' + '3.14'

replace string

In [ ]:
new = 'new string'
new.replace('new', 'old')

In [ ]:
new.replace?

In [ ]:
s = 'abcdef'
s.center(10,'*')

### String format
See more about pyformat at:
[https://pyformat.info/](https://pyformat.info/)

[https://docs.python.org/3/library/string.html#string.Formatter](https://docs.python.org/3/library/string.html#string.Formatter)

input value of pi

In [3]:
pi = input('string to format: ')

string to format: 3.123456

In [4]:
pi

'3.123456'

try to print 'pi number is ...'

In [5]:
'pi number is {}'.format(pi)

'pi number is 3.123456'

format with more than 1 string and index marks

In [6]:
'Mot hai ba 4 {1} {0} {1}'.format('one', 'two')

'Mot hai ba 4 two one two'

In [8]:
g = 0.156789

In [11]:
print('Doanh so tang {:.2%}'.format(g))

Doanh so tang 15.68%

In [ ]:
'Doanh so tang 15.7%'

format with fixed length and leading spaces

In [ ]:
'{:*>10}'.format('test')

format with fixed length and trailing spaces

In [ ]:
'{:*<10}'.format('test')

format number with fixed char after decimal point

In [13]:
'{:.3f}'.format(1.2345)

'1.234'

In [15]:
'{pi:#.2f}'.format(pi = 3.14159265359)

'3.14'

In [16]:
'{pi: ^ #12,.2f}'.format(pi = 10003.14159265359)

'  10,003.14 '

In [17]:
'{:.1%}'.format(0.156)

'15.6%'

## string slicing
s[start:stop:step]

create string 'Data Python'

In [ ]:
s = 'Data Python'

extract 'Data'

Extract 'Pyth'

In [ ]:
s[5:9]

In [ ]:
s[-6:-2]

In [ ]:
s[-2:-6:-1]

Reverse string

In [ ]:
s[::-1]

## Practice
Palindrome string reads the same both ways: 'abcdcba', 'abba'
Input a string and check if string is Palindrome or not.

In [ ]:
s = input('Input string to check Palindrome: ')
print(s)

In [ ]:
s == s[::-1]

## bytes     
Bytes objects are immutable sequences of single bytes.

In [18]:
val = 'Tiếng Việt'

In [19]:
val?

In [20]:
val_utf8 = val.encode('utf-8')

In [21]:
val_utf8
print(val_utf8)

b'Ti\xe1\xba\xbfng Vi\xe1\xbb\x87t'

In [ ]:
type(val_utf8)

In [ ]:
val_utf8.decode('utf-8')

In [22]:
val_utf8.decode?

## bool      
A True or False value

The two boolean values in Python are written as True and False. Comparisons and
other conditional expressions evaluate to either True or False. Boolean values are
combined with the and and or keywords:

compare 2 number

In [ ]:
1 == 2

In [ ]:
1 < 2

assign 3 variable with value

In [24]:
a = 3
b = 2
c = 1
d = 4

Try to compare value in many ways

In [25]:
(a > b) and (b > c)

True

In [26]:
a > b > c > d

False

check value of this combine:

    True and True
    True or False
    True and False
    False or False
    True and False and False or True
    True and (False and (False or True))

In [ ]:
True and False and False or True

Try to convert other types to bool:

In [27]:
bool('')

False

In [28]:
bool(' ')

True

In [29]:
bool(None)

False

In [30]:
bool(1)

True

In [31]:
bool(0)

False

In [32]:
bool(0.1)

True

In [33]:
bool([1, 2, 3])

True

In [34]:
bool([])

False

Check if a sub string inside a string

In [37]:
#if a sub string inside a string
substring = 's'
mainstring = 'string'
substring in mainstring

True

Check if a char is digit

In [38]:
number = 'abc'

In [39]:
number.isalpha()

True

In [40]:
number.isalnum()

True

In [41]:
number.isdigit()

False

## None      
The Python “null” value (only one instance of the None object exists)

In [42]:
a = None
print (type(a))

<class 'NoneType'>

Try convert None to other datatypes

In [43]:
str(None)

'None'

In [44]:
int(None)

TypeError: int() argument must be a string, a bytes-like object or a number, not 'NoneType'

In [45]:
float(None)

TypeError: float() argument must be a string or a number, not 'NoneType'

In [46]:
bytes(None)

TypeError: cannot convert 'NoneType' object to bytes

To check that an object is an instance of a particular type, use the isinstance function. This useful to write functions that can handle many type of input.

In [47]:
isinstance(a, int)

False

## Dates and times
The built-in Python datetime module provides datetime, date, and time types. The
datetime type, as you may imagine, combines the information stored in date and
time and is the most commonly used:
See more at: [https://docs.python.org/3/library/datetime.html](https://docs.python.org/3/library/datetime.html)

import datetime module, assign datetime to a var, check day, hour, date()....

In [48]:
from datetime import datetime, date, time
# import datetime
dt = datetime(2018, 9, 12, 2, 34, 12)
# datetime?

In [50]:
dt

datetime.datetime(2018, 9, 12, 2, 34, 12)

In [51]:
dt.day

12

In [52]:
dt.hour

2

In [53]:
dt.date()

datetime.date(2018, 9, 12)

In [9]:
dt.time()

datetime.time(2, 34, 12)

Replace mimute and second = 0

In [ ]:
dt.replace(minute=0, second=0)

Check timedelta with current datetime

In [54]:
dt2 = datetime.now()
dt2

datetime.datetime(2019, 12, 5, 20, 45, 32, 300211)

In [55]:
time_delta = dt2 - dt

In [58]:
time_delta.days

449

Try to add dt with timedelta

In [59]:
dt + time_delta

datetime.datetime(2019, 12, 5, 20, 45, 32, 300211)

In [60]:
time_delta.total_seconds()

38859080.300211

get datetime from string

see more at: [https://docs.python.org/3/library/datetime.html#strftime-strptime-behavior](https://docs.python.org/3/library/datetime.html#strftime-strptime-behavior)

In [18]:
str_date_time = '11/8/2018 12:18:00 PM'
date_1 = datetime.strptime(str_date_time, '%m/%d/%Y %I:%M:%S %p')
date_1

datetime.datetime(2018, 11, 8, 12, 18)

print format datetime

In [19]:
sample_date  = datetime(2018, 11, 8, 12, 18)
s_date = sample_date.strftime('%m/%d/%Y %I:%M:%S %p') 
s_date

'11/08/2018 12:18:00 PM'

In [ ]:
## Practice

Get date, day, month of current day, print as 'DD-MM-YYYY'

In [20]:
curent_date = date.today()

In [22]:
curent_date.strftime('%d-%m-%Y')

'10-10-2019'

In [21]:
curent_date.strftime('%A %d-%B-%Y')

'Thursday 10-October-2019'

# If statement

## if, elif, and else

Try basic if statement

In [61]:
if True:
    print('ok')
print('b')

ok
b

In [62]:
if False:
    print ('ok')
print('b')

b

In [63]:
if 1==1:
    print ('right')
else:
    print ('wrong')

right

Try full if statement with elif, else

In [ ]:
x = 12

if x < 0:
    print('negative')
elif x == 0:
    print('zero')
elif 0 < x < 10:
    print('Positive but smaller than 10')
else:
    print('Positive and larger than or equal to 10')
    
# If statement will stop when find True condition

In [26]:
a = 0
b = 2

if a==0 :
    print ('a=0')
    if b==0:
        print ('b=0')
    else:
        pass
else:
    print ('a!=0')

#rewrite this code using 1 if-elif statement.
#Try pass in a if statement

a=0

# Loops introduction

## while loops
A while loop specifies a condition and a block of code that is to be executed until the
condition evaluates to False or the loop is explicitly ended with break:

In [ ]:
x = 0
while x<10 and x//4<=1:
    x = x + 1
    if x==5:
        continue
    print (x)

In [ ]:
x = 6
x%4

## For loop

In [66]:
'1' + '2'

'12'

In [68]:
s = 'sdt: 0999999'
s_number = ''
for i in s:
#     print(i, i.isdigit())
    if i.isdigit():
        print(i)
        s_number = s_number + i
s_number

0
9
9
9
9
9
9

'0999999'

In [ ]:
a = None
a > 4

In [69]:
max_t = None
for ele in [-100, 6, 8, 5, 10, 11][1:-1]:
    if max_t == None:
        max_t = ele 
    if max_t < ele: 
        max_t = ele
    print(max_t)
max_t

6
8
8
10

10

In [ ]:
max_t

In [ ]:
from datetime import date, datetime, timedelta
to_day = date.today()
this_month = to_day.month
date_to_print = to_day
while this_month == date_to_print.month:
    print(date_to_print.strftime('%Y-%m-%d'))
    date_to_print = date_to_print + timedelta(days = 1)

In [ ]:
# from datetime import date, datetime, timedelta
# date_to_start = date.today()
# this_month = date_to_start.month
# while this_month == date_to_start.month:
#     print(date_to_start.strftime('%Y-%m-%d'))
#     date_to_start = date_to_start + timedelta(days = 1)

In [ ]:
ten_bien_dai = 'string'

In [ ]:
t