In [1]:
import pandas as pd
import pyodbc

In [2]:
username='maingoc.dinh'
password='Maingoc02'
server = 'GA-9RC9BS2\SQLEXPRESS'
db='TVT_06_2020'

m='6'
range_day=range(22,25)
## TVT_day='23_31'

## sql server 2017
conn_str = ('Driver={SQL Server};'
                'Server='+ server+';'
                'Database='+db+';'
                'UID='+username+';'
                'PWD='+password+';')

connection = pyodbc.connect(conn_str)
data=[]
for d in range_day:
    sql_statement = """SELECT * FROM [{2}].[dbo].[TVT_2020-{0:0>2s}-{1:0>2d}-2020-{0:0>2s}-{1:0>2d}]""".format(m,d,db)
    sql_data = pd.read_sql(sql_statement, connection)
    data.append(sql_data)

In [3]:
TVT = pd.concat(data)

In [4]:
TVT['Destination Account'].fillna(value='',inplace = True )

In [5]:
TVT['Destination Account'].replace('nan','',inplace= True)

In [6]:
# T1=pd.read_excel(r'R:\1. DATABASE\1. Bank\2020\Bank 2005\TVT\Transaction_detail_(TVT)_(2020-05-25-2020-05-25).xlsx')

In [7]:
# T2=pd.read_excel(r'R:\1. DATABASE\1. Bank\2020\Bank 2005\TVT\Transaction_detail_(TVT)_(2020-05-26-2020-05-26).xlsx')

In [8]:
# T3=pd.read_excel(r'R:\1. DATABASE\1. Bank\2020\Bank 2005\TVT\Transaction_detail_(TVT)_(2020-05-27-2020-05-27).xlsx')

In [9]:
#T4=pd.read_excel(r'R:\1. DATABASE\1. Bank\2020\Bank 2003\TVT\Transaction_detail_(TVT)_(2020-03-19-2020-03-20).xlsx')

In [10]:
# TVT = pd.concat([T1,T2,T3])

In [11]:
#BA_Gift=TVT[TVT['Topup'].isin(['Gift'])]

In [12]:
# G1=TVT[TVT['TopUp'].isin(['Gift']) & TVT['PaymentInfo'].isin(['Cash via Transfer'])] 
# G2=TVT[TVT['TopUp'].isin(['Cash']) & TVT['Topup Type'].isin(['Account Balance']) & TVT['PaymentInfo'].isin(['Cash Transfer']) & (TVT['Amount']==0) & (TVT['Destination Account'] is None)]
# G3=TVT[TVT['TopUp'].isin(['Cash']) & TVT['Topup Type'].isin(['Account Balance']) & TVT['PaymentInfo'].isin(['Cash Transfer']) & (TVT['Amount']==0) & (TVT['Destination Account'].isin(['0.0']))]
# G4=TVT[TVT['TopUp'].isin(['Cash']) & TVT['Topup Type'].isin(['Account Balance']) & TVT['PaymentInfo'].isin(['Cash via Transfer']) & (TVT['Amount']==0) & (TVT['Destination Account'] is None)]
# G5=TVT[TVT['TopUp'].isin(['Cash']) & TVT['Topup Type'].isin(['Account Balance']) & TVT['PaymentInfo'].isin(['Cash via Promotion']) & (TVT['Amount']==0) & (TVT['Destination Account'] is None)]

In [13]:
G1=TVT[TVT['TopUp'].isin(['Gift']) & TVT['PaymentInfo'].isin(['Cash via Transfer'])] 
G2=TVT[TVT['TopUp'].isin(['Cash']) & TVT['Topup Type'].isin(['Account Balance']) & TVT['PaymentInfo'].isin(['Cash Transfer']) & (TVT['Amount']==0) & (TVT['Destination Account']=='')]
G3=TVT[TVT['TopUp'].isin(['Cash']) & TVT['Topup Type'].isin(['Account Balance']) & TVT['PaymentInfo'].isin(['Cash Transfer']) & (TVT['Amount']==0) & (TVT['Destination Account'].isin(['0.0']))]
G4=TVT[TVT['TopUp'].isin(['Cash']) & TVT['Topup Type'].isin(['Account Balance']) & TVT['PaymentInfo'].isin(['Cash via Transfer']) & (TVT['Amount']==0) & (TVT['Destination Account']=='')]
G5=TVT[TVT['TopUp'].isin(['Cash']) & TVT['Topup Type'].isin(['Account Balance']) & TVT['PaymentInfo'].isin(['Cash via Promotion']) & (TVT['Amount']==0) & (TVT['Destination Account']=='')]

In [14]:
BA_Gift=pd.concat([G1,G2,G3,G4,G5],axis=0)

In [15]:
TVT['Destination Account']=TVT['Destination Account'].astype(str)

In [16]:
C1=TVT[TVT['TopUp'].isin(['Cash']) & TVT['Topup Type'].isin(['Account Balance']) & TVT['PaymentInfo'].isin(['Cash Transfer']) & (TVT['Amount']!=0) & (TVT['Destination Account']=='')]
C2=TVT[TVT['TopUp'].isin(['Cash']) & TVT['Topup Type'].isin(['Account Balance']) & TVT['PaymentInfo'].isin(['Cash Transfer']) & (TVT['Amount']!=0) & (TVT['Destination Account'].isin(['0.0']))]
C3=TVT[TVT['TopUp'].isin(['Cash']) & TVT['Topup Type'].isin(['Account Balance']) & TVT['PaymentInfo'].isin(['Cash via Transfer']) & (TVT['Amount']!=0) & (TVT['Destination Account']=='')]
C4=TVT[TVT['TopUp'].isin(['Cash']) & TVT['Topup Type'].isin(['Account Balance']) & TVT['PaymentInfo'].isin(['Cash via Promotion']) & (TVT['Amount']!=0) & (TVT['Destination Account']=='')]

In [17]:
BA_Cash=pd.concat([C1,C2,C3,C4])

In [18]:
TVT[TVT['OrderID'].isin(['234833097'])][['TopUp','PaymentInfo','Amount','Topup Type','Destination Account']]

Empty DataFrame
Columns: [TopUp, PaymentInfo, Amount, Topup Type, Destination Account]
Index: []

In [19]:
BA_Cash[BA_Cash['OrderID'].isin(['234833097'])][['TopUp','PaymentInfo','Amount','Topup Type','Destination Account']]

Empty DataFrame
Columns: [TopUp, PaymentInfo, Amount, Topup Type, Destination Account]
Index: []

In [20]:
#BA_Cash=TVT[((TVT['Topup']=='Cash') & (TVT['Destination Account']=='0.0') | (TVT['Destination Account']=='0' )|(TVT['Destination Account']==0)) | ((TVT['Topup']=='Cash') & (TVT['Promotion'].str.contains('#')))| ((TVT['Topup']=='Cash') & (TVT['Topup Ref'].notnull())&(TVT['PaymentInfo']=='Cash Transfer')) ]

In [21]:
BA=pd.concat([BA_Gift,BA_Cash])
# BA.tail()

In [22]:
BA[BA['OrderID'].isin(['234833097'])][['TopUp','PaymentInfo','Amount','Topup Type','Destination Account']]

Empty DataFrame
Columns: [TopUp, PaymentInfo, Amount, Topup Type, Destination Account]
Index: []

In [23]:
BA.to_excel(r'R:\1. DATABASE\3. Admin toppay\9. TVT Report\BA\BA_22_24T06.xlsx')