# Demo

In [ ]:
import pandas as pd

url = 'https://www.customs.gov.vn/Lists/ExchangeRate/Default.aspx'
dfs = pd.read_html(url)

dfs[8]

In [ ]:
n = int(input('Type a number, then its factorial will be printed: '))

if n < 0:
    raise ValueError('You must enter a positive number')

fact = 1
i = 2
while i <= n:
    fact = fact * i
    i += 1
print(fact)

# Hello world program

In [ ]:
print("Hello World")

In [ ]:
a = 2

In [ ]:
a?

In [ ]:
#how to know a function
print?

In [ ]:
print (1, 2, 3, end = 'ket thuc', sep=' noi giua ')

## Comment

In [3]:
# this is comment
print("Hello, World")

Hello, World

# Import

In [6]:
import math

In [7]:
print(math.pi)

3.141592653589793

In [ ]:
import math as m

In [ ]:
print(m.pi)

In [ ]:
from math import pi

In [ ]:
print(pi)

In [ ]:
from math import *

In [ ]:
print(pi)

In [ ]:
# How to install a new package
!pip install skpy

In [ ]:
import skpy

## Magic command

In [ ]:
%lsmagic

In [ ]:
!dir

In [ ]:
%timeit L = [n ** 2 for n in range(1000)]

In [ ]:
a = """
Dong 1
Dong 2
Dong 3
"""

In [ ]:
a

In [ ]:
print(a)

In [ ]:
print(a)
b = 5

In [ ]:
5-6

# Python Standard Data Types

## Input value variable

In [16]:
yob = int(input("Nhập năm sinh của bạn: "))
name = input("Nhập tên của bạn: ")
age = 2019 - yob

Nhập năm sinh của bạn: 2000
Nhập tên của bạn: mr X

In [17]:
print("Chào bạn "+ name + ", năm nay bạn " + str(age) + " tuổi.")

Chào bạn mr X, năm nay bạn 19 tuổi.

In [ ]:
yob = int(input("Nhập năm sinh của bạn: "))
age = 2019 - yob
print(age)

# Assigment and equal operation

In [41]:
a = 999
b = a + 1

In [42]:
a != 999

False

In [43]:
a == 999

True

## Number types
[see full operator](https://docs.python.org/3/library/operator.html#mapping-operators-to-functions)

In [ ]:
s = "Hà Nội mùa Thu"
print(type(s))
print(s)

### modulo - chia lấy phần dư

In [2]:
## interger
x = 1
print(type(x))

<class 'int'>

In [3]:
## float
x = 1.1
print(type(x))

<class 'float'>

#### Modulo

In [33]:
5 % 3

2

In [36]:
6 % 2 == 0

True

In [37]:
7 // 2 # floor division

3

In [38]:
0.1 + 0.1

0.2

In [39]:
5.1 + 5.2

10.3

### Lũy thừa

In [40]:
a = 2
b = a**10
b

1024

## str

In [44]:
b = 'this is a string'
print(type(b))
b?

<class 'str'>

In [46]:
c = "string can be in double quote"
d = """string that


spans multiple lines"""

# Print the following text:

another way to

start a new line or show 'quotes' or special characters in you text

In [47]:
s = 'another way to \n start a new line or show \'quotes\' or special characters in your text'
print(s)

another way to
 start a new line or show 'quotes' or special characters in your text

12\34 This is how to show slash

In [48]:
f = '12\\34 This is how to show slash'
print (f)

12\34 This is how to show slash

In [50]:
# r stand for raw
r = r"this\has\no\special\characters"
print (r)

this\has\no\special\characters

In [51]:
r = r.capitalize()

In [57]:
r

'This\\has\\no\\special\\characters'

In [55]:
r_u = r.upper()

In [56]:
r_u

'THIS\\HAS\\NO\\SPECIAL\\CHARACTERS'

how to count number of line in a string?

In [ ]:
# number of line in a string by find special new line character

s = '''
line 1
line 2
line 3
'''
s.count('\n')

Try to convert a number to str

In [ ]:
p = 3.14
type(p)

In [ ]:
str_p = str(p)

In [ ]:
print(str_p,'data type' ,type(str_p))
print?

In [58]:
s = ' 123456'

In [62]:
s.strip('56')

' 1234'

In [64]:
s.strip?

In [60]:
s

' 123456'

In [94]:
mot_bien_chuoi = '09099990485-024aa'
mot_bien_chuoi.find('856')

-1

join, startwith, endwith, is..., upper, find, capitalize, lower....

multiply string

Try to divide string

split

add - concat

replace string

## string slicing
s[start:stop:step]

create string 'Data Python'

In [107]:
s = 'Data Python'

In [108]:
s[2]

't'

extract 'Data'

In [109]:
s[:4]

'Data'

In [110]:
s[1:-7]

'ata'

Extract 'Pyth'

Reverse string

In [103]:
s = '123456789'

In [104]:
s[2::3]

'369'

### String format
See more about pyformat at:
[https://pyformat.info/](https://pyformat.info/)

[https://docs.python.org/3/library/string.html#string.Formatter](https://docs.python.org/3/library/string.html#string.Formatter)

input value of pi

In [ ]:
s = input('string to format: ')

try to print 'pi number is ...'

In [ ]:
'pi number is {}'.format(s)

format with more than 1 string and index marks

In [ ]:
'Mot hai ba 4 {1} {0} {1}'.format('one', 'two')

format with fixed length and leading spaces

In [ ]:
'{:*>10}'.format('test')

format with fixed length and trailing spaces

In [ ]:
'{:*<10}'.format('test')

format number with fixed char after decimal point

In [ ]:
'{:.2f}'.format(1.2345)

In [ ]:
'{pi:#.1f}'.format(pi = 3.14159265359)

In [ ]:
'{pi: ^ #12,.2f}'.format(pi = 10003.14159265359)

In [ ]:
'{:.1%}'.format(0.156)

## Practice
Palindrome string reads the same both ways: 'abcdcba', 'abba'
Input a string and check if string is Palindrome or not.

In [ ]:
s = input('Input string to check Palindrome: ')
print(s)

In [ ]:
s == s[::-1]